---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Presentacion from '../components/Presentacion.astro';
import SectionProyects from '../components/SectionProyects.astro';
import Languages from '../components/Languages.astro';
---

<Layout title="the best developer for you">
  <main class="text-white w-[90vw] mx-auto overflow-hidden">
    <section class="mt-24 p-4 mx-auto w-[90vw] text-center">
      <h2
        class="mx-auto text-4xl text-center block whitespace-nowrap border-r-4 border-solid w-[10.9ch] typing"
      >
        <span class="text-gradient">Juan Moreno</span>
      </h2>
      <hr class="w-[80vw] mx-auto" />
      <h3
        class="mt-4 text-2xl animate-fade-up animate-once animate-duration-1000 animate-delay-[1700ms] animate-ease-in-out"
      >
        <div class="flex text-center items-center justify-center">
          <p class="">
            Desarrolador Trainee full-stack con excelentes capacidades de
            razonamiento, aprendizaje y resolucion de problemas
          </p>
        </div>
      </h3>
    </section>
    <section
      class="text-center mt-12 bg-gradient-to-r from-purple-500 to-purple-300 text-transparent bg-clip-text"
    >
      <h3 class="text-3xl parraf">Conocimientos</h3>
      <p class="text-center sm:hidden mt-4 mb-4">
        <a href="https://github.com/Masterkey-DEV">
          <img
            class="mx-auto"
            src="https://skillicons.dev/icons?i=tailwind,js,nodejs,mongodb,astro,react,nextjs,angular,git,python,fastapi,sqlite&perline=6"
          />
        </a>
      </p>
      <a href="">
        <ul
          class="list-none sm:flex w-full h-60 justify-center items-center hidden text-violet-100"
        >
          <Languages
            tittle="Javascripts"
            LanguageUrl="https://cdn-icons-png.flaticon.com/128/5968/5968292.png"
          />
          <Languages
            tittle="Node-js"
            LanguageUrl="https://miro.medium.com/v2/resize:fit:800/1*bc9pmTiyKR0WNPka2w3e0Q.png"
          />
          <Languages
            tittle="React"
            LanguageUrl="https://cdn-icons-png.flaticon.com/128/1126/1126012.png"
          />
          <Languages
            tittle="Astro"
            LanguageUrl="https://astro.js.org/astro.png"
          />
          <Languages
            tittle="Python"
            LanguageUrl="https://cdn-icons-png.flaticon.com/128/5968/5968350.png"
          />
          <Languages
            tittle="SQL"
            LanguageUrl="https://cdn-icons-png.flaticon.com/128/4299/4299956.png"
          />
        </ul>
      </a>
    </section>
    <SectionProyects>
      <li>
        <Card
          title="E-comerce"
          body="un ecomerce con la API de platzy con filtros de busqueda y mas cosas que te sorprenderan."
          href="#"
          img="https://images.justwatch.com/poster/247615255/s332/temporada-5"
        />
      </li>
      <li>
        <Card
          title="API Rick y Morty"
          body="una libreia de personajes con la API de rick y Morty con infinite-scroll y paginado ademas de filtros."
          href="https://google.com"
          img="https://www.enter.co/wp-content/uploads/2023/01/Rick-morty-1-768x432.jpg"
        />
      </li>
      <li>
        <Card
          title="Tik-Tak-Toe"
          body="el Mitico juego de Tik-Tak-Toe o tricky para los panas en React con guardado."
          href="#"
          img="#"
        />
      </li>
    </SectionProyects>

    <Presentacion
      img="../../public/me.enc"
      body=" Mas de lo que estabas buscando y que ahora sabes que necesitas "
      name="Juan Moreno"
      footer="Full-Stack Junior trainee developer"
    />
  </main>
</Layout>

<style>
  body {
    background-color: #161a20;
  }

  .typing {
    animation:
      escritura 1.6s steps(9),
      blinky infinite 0.5s step-end alternate;
    overflow: hidden;
  }

  @keyframes escritura {
    from {
      width: 0;
    }
  }

  @keyframes blinky {
    50% {
      border-color: transparent;
    }
  }
  .text-gradient {
    background-image: linear-gradient(
      to right,
      #8b5cf6,
      #ec4899,
      #ef4444
    ); /* Definición del gradiente */
    -webkit-background-clip: text; /* Define el área de aplicacion del background como el texto */
    background-clip: text;
    color: transparent; /* Hace el texto transparente */
  }
</style>
<script></script>
