---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="text-white w-[90vw] mx-auto ">
		<section class="mt-24 p-4 mx-auto w-[90vw] text-center">
			<h2 class=" mx-auto text-4xl text-center block whitespace-nowrap border-r-4 border-solid w-[10ch] typing">
				<span class="text-gradient  ">Juan Moreno</span>
			</h2>
			<hr class="w-[80vw]">
			<h3 class=" mt-4 text-2xl animate-fade-up animate-once animate-duration-1000 animate-delay-[1700ms] animate-ease-in-out">
				<div class="  flex text-center items-center justify-center">
					<p class=" ">
						Desarrolador Trainee full-stack con excelentes capacidades de razonamiento, aprendizaje y resolucion de problemas
					</p>
				</div>
			</h3>
		</section>
		<section class="text-center mt-12">
			<h3 class="text-3xl">Conocimientos</h3>
			<p  class="text-center sm:hidden mt-4 mb-4">
				<a href="">
				  <img class="mx-auto" src="https://skillicons.dev/icons?i=tailwind,js,nodejs,mongodb,astro,react,nextjs,angular,git,python,fastapi,sqlite&perline=6" />
				</a>
			  </p>
		</section>
		<section class="mt-12">
			<h3 class="text-3xl mb-4">Proyectos destacados</h3>
			<div class="">
				<Card title='prueba' body='adasduyasgduasd' href='#' img="https://images.justwatch.com/poster/247615255/s332/temporada-5" />
				<Card title='Rick y Morti API' body='una libreia de personajes con varios modos:infinite-scroll y paginado ademas de una simulacion de busqueda atraves de filtros' href='#' img="https://www.enter.co/wp-content/uploads/2023/01/Rick-morty-1-768x432.jpg" />
				<Card title='prueba' body='adasduyasgduasd' href='#' img="#" />

			</div>
		</section>
		<!-- <svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		> -->
			
	</main>
</Layout>

<style>
	.typing{
		animation: escritura 1.6s steps(9), blinky infinite .5s step-end alternate;
		overflow: hidden;
	}

	@keyframes escritura{
		from {width: 0}
	}

	@keyframes blinky{
		50%{
			border-color: transparent;
		}
	}
</style>
<script>
	

</script>