---
import Layout from '../layouts/Layout.astro';
import Presentacion from '../components/Presentacion.astro';
import Content from '../components/Content.astro';
---

<div class="bg-[#20252c]">
  <Layout title="always that you need is me..DIO">
    <div
      class="text-[#fafafa] bg-[#20252c] mt-4 mb-4 mx-auto md:w-[70vw] sm:w-[60vw] imagen w-screen p-4"
    >
      <header class="flex">
        <img
          src="https://github.com/0xAbdulKhalid/0xAbdulKhalid/raw/main/assets/mdImages/about_me.gif"
          class="hidden sm:block w-24 h-auto shadow-xl aspect-video"
          alt=""
        />
        <div class="ml-4">
          <h1 class="text-4xl">Hola, soy Juan-Sebastian.</h1>
          <div class="w-full mt-4 flex flex-row sm:flex">
            <a href=""
              ><img
                src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                class=""
                alt=""
              /></a
            >
            <a href=""
              ><img
                src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                class=""
                alt=""
              /></a
            >
            <a href=""
              ><img
                src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white"
                class=""
                alt=""
              /></a
            >
            <a href=""
              ><img
                src="https://img.shields.io/badge/Facebook-1877F2?style=for-the-badge&logo=facebook&logoColor=white"
                class=""
                alt=""
              /></a
            >
          </div>
        </div>
      </header>
      <Content
        title="Mis comienzos en el mundo del desarrollo"
        body="Como todos o almenos la gran mayoria que estudia y se dedica al mundo del desarrollo me ah interesado la tecnologia desde una muy temprana edad y eh tenido una fascinacion por esta y el desarrollar soluciones ingeniosas como un pro o que me viese como un hacker al estar en la compu. Cuanto mayor era mi edad mayor mi fascinacion por la tecnologia hasta que empece en el mundo del desarrollo por mi cuenta a los 16 años de edad viendo tutoriales, guias, libros, practicando, practicando y.... practicando mucho mas."
      />
      <Content
        title="Conocimientos"
        body="Me gusta orientarme por los resultados y siguiendo esta corriente de pensamiento aprendi frameworks y teccnologias que me den resultados de la forma mas rapida y profesional posible ademas de tener salida la laboral como lo es el diseño web con astro,next bases de datos como mongodb entre muchos otros."
      >
        <p class="text-center mt-4 mb-4">
          <a href="https://github.com/Masterkey-DEV">
            <img
              class="mx-auto hidden sm:block"
              src="https://skillicons.dev/icons?i=tailwind,js,nodejs,mongodb,astro,react,nextjs,angular,git,python,fastapi,sqlite"
            />
            <img
              src="https://skillicons.dev/icons?i=tailwind,js,nodejs,mongodb,astro,react,nextjs,angular,git,python,fastapi,sqlite&perline=6"
              class="mx-auto block sm:hidden"
            />
          </a>
        </p>
      </Content>
      <Content
        title="A que aspiro"
        body="Quiero trabajar codo a codo con los mejores equipos lideres experimentados, aprender sus habitos, practicas metodologias y forma de pensar para aplicarlas en superarme como desarrolador. Ademas de contribuir a proyectos siginifacitos de gran expereiencia contando con un muy buen onBoarding"
      />
      <Presentacion
        body="Soluciones simples a problemas complejos."
        img="../../public/me.enc"
        footer="Full-Stack Developer"
        name="Juan Sebastian Moreno Mosquera"
      />
    </div>
  </Layout>
</div>

<style>
  * {
    text-wrap: pretty;
  }

  @media screen and (max-width: 640px) {
    .imagen {
      background-image: url('https://github.com/0xAbdulKhalid/0xAbdulKhalid/raw/main/assets/mdImages/about_me.gif');
      background-repeat: no-repeat;
      background-position: right -2px;
      background-size: 150px 120px;
    }
  }
</style>
