---
interface Props {
	name: string;
}
const { name } = Astro.props;
---
<footer class="hidden sm:block h-auto mt-4 bg-opacity-60 border-t-2 border-double border-slate-500   text-white p-4  text-center">
    <ul class="flex items-center justify-between text-sky-300  ">
        <li>
            <a href="">Hecho por: <span class="text-gradient">{name}</span></a>
        </li>
        <li>
            <a href="">Lenguajes y frameworks usados: </a>
            <div class="flex">
                <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="">
                <img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="">
                <img src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white" alt="">
                <img src="https://img.shields.io/badge/Astro-4285F4?style=for-the-badge&logo=google-cloud&logoColor=white" alt="">
                <img src="" alt="">
            </div>
        </li>
    </ul>
</footer>