---

---

<section class="mt-12 list-none mb-12">
  <h3 class="text-3xl mb-4">Proyectos destacados</h3>
  <div
    class="sm:grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] grid-rows-[repeat(auto-fit,minmax(250px,300px))] gap-2 grid-row-[repeat(minmax(fill,1fr))]"
  >
    <slot />
  </div>
</section>
