---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class=" z-10 sticky top-0 left-0 w-screen bg-gradient-to-r nav from-[#270e49] to-[#d6bbf8] h-20 text-white p-4 flex items-center justify-between">

				<a href="" class="logo">
					<h3>Juan-Moreno</h3>
				</a>

				<div class="h-full sm:hidden">
					<a href="#" class="h-full" id="open">
						<img class="h-full" src="../../public/menu.png" class="nav_icon" >
					</a>
					<a href="#" class="h-full hidden close" id="close">
						<img class="h-full" src="../../public/cross.png" alt="">
					</a>
				</div>


				<div class="hidden fixed top-20 left-0 right-0 bottom-0 bg-[rgba(0,0,0,.5)] w-screen h-screen transition ease-in" id="fondo">
					<nav class=" z-10 grid fixed  top-20 bottom-0 right-0 place-items-center bg-[rgb(0,0,0)] clipeado transition ease-in" id="menu">
						<a href="#" class="nav__link text-3xl text-white">sobre mi</a>
						<a href="#" class="nav__link text-3xl text-white">proyectos</a>
						<a href="#" class="nav__link text-3xl text-white">reclutame</a>
					</nav>
				</div>
		</header>
		<slot />
	</body>
</html>
<script>
	const nav = document.getElementById('menu')
	const xClose = document.getElementById('close')
	const hamburguesa = document.getElementById('open')
	const fondo = document.getElementById('fondo')
	hamburguesa?.addEventListener('click',()=>{
		hamburguesa.classList.add('desaparecer');
		nav?.classList.add('abierto')
		xClose?.classList.add('aparecer')
		fondo?.classList.add('aparecer')
		
	})
	xClose?.addEventListener('click',()=>{

		hamburguesa?.classList.remove('desaparecer');
		nav?.classList.remove('abierto')
		xClose?.classList.remove('aparecer')
		fondo?.classList.remove('aparecer')
	})
	fondo?.addEventListener('click',()=>{

		hamburguesa?.classList.remove('desaparecer');
		nav?.classList.remove('abierto')
		xClose?.classList.remove('aparecer')
		fondo?.classList.remove('aparecer')
	})
</script>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.clipeado{
		clip-path: circle(0% at top right);
		transition: clip-path .4s;
	}
	.clipeado.abierto{
		clip-path: circle(150% at top right);
		@apply w-[70%];
		transition: clip-path .4s;

	}
	.aparecer{
		display: block;
		transition: transform .4s;
	}
	.desaparecer{
		display: none;
		transition: transform .4s;
	}

</style>
